.SuccessPage {
    text-align: center;
    padding: 20px;
}

.cityImage {
    width: 100%;
    height: auto;
    max-width: 600px; /* Adjust as needed */
    margin-top: 20px;
    border-radius: 10px;
}

h2 {
    margin-top: 20px;
    font-size: 1.5em;
}
